! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
! URxvt*scrollBar:                      boolean
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*background:                     color
! URxvt*foreground:                     color
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*font:                           fontname
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*saveLines:                      number
! URxvt*buffered:                       boolean
! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
! URxvt*letterSpace:                    number
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string

! urxvt

URxvt*font:  xft:Inconsolata:pixelsize=15
URxvt*depth:                32
URxvt*background:            [85]#000000
URxvt*foreground:            [100]#ffffff
URxvt*borderless: 1
URxvt*scrollBar:            false
URxvt*saveLines:  5000
URxvt*termName:    rxvt-unicode
URxvt*perl-ext-common: default,matcher,clipboard,tabbedex
URxvt*urlLauncher: firefox
URxvt*matcher.button: 1
URxvt*scrollTtyKeypress: true
URxvt*loginShell: true
URxvt*keysym.Control_L-c: perl:clipboard:copy
URxvt*keysym.Control_L-v: perl:clipboard:paste
URxvt*iconFile:    /usr/share/icons/Clarity/scalable/apps/terminal.svg
URxvt*cursorUnderline: true
URxvt*cursorBlink: true


!Pnevma1
!*color0: #2F2E2D
!*color8: #4A4845
!*color1: #A36666
!*color9: #D78787
!*color2: #8FA57E
!*color10: #A9BA9C
!*color3: #D7AF87
!*color11: #E4C9AF
!*color4: #7FA5BD
!*color12: #A1BDCE
!*color5: #C79EC4
!*color13: #D7BEDA
!*color6: #8ADBB4
!*color14: #B1E7DD
!*color7: #D0D0D0
!*color15: #EFEFEF

!Pnevma2 - A heavy mod of the original.
!*color0: #2F2E2D
!*color8: #4A4845
!*color1: #C37561
!*color9: #D19485
!*color2: #A0A57E
!*color10: #B6B99D
!*color3: #D1A375
!*color11: #DEBC9C
!*color4: #7985A3
!*color12: #98A1B9
!*color5: #AB716D
!*color13: #BE918E
!*color6: #98B9B1
!*color14: #CBE6CB
!*color7: #D0D0D0
!*color15: #EFEFEF

urxvt.background:  #000000
 urxvt.foreground:  #EBEBFF
 ! black + red
 !urxvt*color0:     #3f3f3f
 urxvt*color0:      #000000
 urxvt*color1:      #e01010
 ! green + yellow
 urxvt*color2:      #00AA00
 urxvt*color3:      #FFFF00
 ! blue + purple
 urxvt*color4:      #112037
 urxvt*color5:      #A020F0
 ! cyan + white
 urxvt*color6:      #5B5BC7
 urxvt*color7:      #fefefe
 ! bright-black + bright-red
 urxvt*color8:      #6a6a6a
 urxvt*color9:      #FF5555
 ! bright-green + bright-yellow
 urxvt*color10:     #90EE90
 urxvt*color11:     #ffff2f
 ! bright-blue + bright-purple
 urxvt*color12:     #5B5BC7
 urxvt*color13:     #e628ba
 ! bright-cyan + bright-white
 urxvt*color14:     #7D7DFB
 urxvt*color15:     #ffffff

